body {
    background-color: whitesmoke;
    background-repeat: repeat;
    background-position: center;
    background-size: 200px 200px;
    margin: 0 auto;
}

.ant-layout {
    background-color: transparent;
}